<app-countdown-timer [timer]="timerValue"></app-countdown-timer>
<app-timer-controller
  (startCountdown)="startCountdown($event)"
  (startCountChange)="handleStartCountChange($event)"  (pauseCountChange)="handlePauseCountChange($event)"  
  (startTimeEvent)="startTimeEventLogs($event)" (pauseTimeEvent)="pauseTimeEventLogs($event)"></app-timer-controller>
<!-- <app-timer-controller  (multipleValues)="handleMultipleValues($event)"></app-timer-controller> -->
<!-- <app-click-counter [counterValue]="startCount"></app-click-counter> -->

<app-timer-logger [startTimeLogs]="startTimeV" [pauseTimeLogs]="pauseTimeV"></app-timer-logger>
<app-click-counter [pauseCounterValue]="pauseCount" [startCounterValue]="startCount"  ></app-click-counter>
