<h1>
  {{title}}
</h1>


<div class="button-group">
<button type="button" routerLink="/banner">Banner</button>
<button type="button" routerLink="/ecommerce">E Commerce</button>
<button type="button" routerLink="/tabledata">Table Data</button>
<button type="button" routerLink="/dynamicdiv">Dynamic Div</button>
<button type="button" routerLink="/timer">Timer</button>
<button type="button" routerLink="/timersubject">TimerSubject</button>
<button type="button" routerLink="">Home</button>
</div>


<router-outlet></router-outlet>