<div class="filter">
    <label for="category">Filter by Category:</label>
    <select id="category" [(ngModel)]="selectedCategory" (ngModelChange)="filterItems()">
      <option value="All">All</option>
      <option *ngFor="let category of getUniqueCategories()" [value]="category">{{ category }}</option>
    </select>
  </div>

  <div class="filter">
    <label for="price">Filter by Price:</label>
    <select id="price" [(ngModel)]="selectedPrice" (ngModelChange)="filterItemsViaPrice()">
      <option value=0>All</option>
      <option *ngFor="let priceRange of getPriceRange()" [value]="priceRange">{{ priceRange }}</option>
    </select>
  </div>

<div class="grid-container">
    

    <div class="card" *ngFor="let item of filteredItems">
        <img src="{{ item.productImage }}" alt="alt-image">
        <h2>{{ item.productName }}</h2>
        <p>{{ item.price }}</p>
      </div>
  </div>
  