<!-- <div class="row">      

    <div class="column column-relative">
     <div class="sale-banner--offer"></div>
       <a href="#">
<img src="https://thumbs.dreamstime.com/z/landscape-nature-view-background-view-window-landscape-nature-view-background-view-window-wonderful-landscape-121459679.jpg">
        </a>
        <h3 class="md-headline">Sale Heading</h3>
        <p class="md-body-1">Sale Text Content</p>
        <p class="caption">Caption Text</p>
        <a href="#">Shop Now <i class="material-icons ga-arrow-right">&#xE315;</i></a><br><br>
    </div>
</div> -->

<div class="banner">
    <div class="banner__content">
        
            <div id="cloud">Save Earth</div>
        
        <!-- <button class="banner__close" type="button">
            <span class=material-icons></span>
        </button> -->
    </div>
</div>

hey mate